<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/fullcalendar.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fullcalendar.print.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-confirm.min.css}" />

<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/fullcalendar.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/jquery-confirm.min.js}"></script>
<!-- <script th:src="@{/js/pwstrength.js}"></script> -->
</head>
</html>