<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset='utf-8' />
<title>My Bookings</title>
<meta th:remove="tag" th:include="/fragments/common :: [//head]"/>

<style>
body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

.bs-example {
	margin: 20px;
}

.margin {
	margin-right: 6px;
}
</style>

<script>
$(document).ready(function(){
    $('.table').DataTable();
    
    $('.myBookingCancel').click(function() {
    	$.confirm({
    		closeIcon: true,
    	    title: 'Cancel',
    	    content: 'Do you want to cancel Conference Room booking.',
    	    buttons: {
    	        confirm: function () {
    	            //$.alert('Confirmed!');
    	            var ucrId = $(this).closest('span').find(".ucrId").val();
    	            $.alert({
    	                title: 'Message',
    	                content: 'Successfully Cancelled!' + ucrId,
    	                animation: 'scale',
    	                closeAnimation: 'scale',
    	                buttons: {
    	                  okay: {
    	                    text: 'Okay',
    	                    btnClass: 'btn-blue'
    	                  }
    	                }
    	              });
    	        },
    	        close: function () {
    	        }
    	    }
    	});
    });
});

</script>
</head>
<body>
	<div class="bs-example">
		<ul class="nav nav-tabs">
			<li class="margin">
				<form method="POST" action="/home">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Home</button>
				</form>
			</li>
			<li class="active margin">
				<form method="POST" action="/myBookings">
					<button type="submit" style="background-color:#e7e7e7; color: black;" name="submit" value="value"
						class="btn btn-primary">My Bookings</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ADMIN')">
				<form method="POST" action="/getAllBookings">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">All Bookings</button>
				</form>
			</li>
			<li class="margin">
				<form method="POST" action="/bookConference">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Book Conference Room</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ADMIN')">
				<form method="POST" action="/addConference">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Add Conference Room</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ADMIN')">
				<form method="POST" action="/conferenceRoomList">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Conference Room List</button>
				</form>
			</li>
			<li class="logout" style="float: right;"><a th:href="@{/logout}">Logout</a></li>
			<li class="logout" style="float: right;"><a href="#">Welcome,
					<span th:text="${user.name + ' ' + user.lastName}"></span>
			</a></li>
		</ul>
	</div>

	<div class="container">
		<h2>List of Conference Rooms Booked By You</h2>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Title</th>
						<th>Conference Room Name</th>
						<th>Start Date of Booking</th>
						<th>End Date of Booking</th>
						<th>Booked On</th>
						<th>Status</th>
						<th>Cancelled By</th>
						<th>Cancelled Date</th>
						<th>Action</th>
						<th style="display:none;">id</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="userConferenceRoom : ${userConferenceRooms}">
						<td th:text="${userConferenceRoom.srNo}"></td>
						<td th:text="${userConferenceRoom.title}"></td>
						<td th:text="${userConferenceRoom.confRoomName}"></td>
						<td th:text="${userConferenceRoom.startDateOfBooking}"></td>
						<td th:text="${userConferenceRoom.endDateOfBooking}"></td>
						<td th:if="${userConferenceRoom.createdDate != null}" th:text="${#dates.format(userConferenceRoom.createdDate,'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${userConferenceRoom.status}"></td>
						<td th:text="${userConferenceRoom.cancelledByName}"></td>
						
						<td th:if="${userConferenceRoom.cancelledDate != null}" th:text="${#dates.format(userConferenceRoom.cancelledDate,'yyyy-MM-dd HH:mm')}"></td>
						<td th:unless="${userConferenceRoom.cancelledDate != null}"></td>
						
						<td style="text-align: center;" th:if="${userConferenceRoom.status} == 'BOOKED' ">
							<span style="cursor: pointer;" class="myBookingCancel glyphicon glyphicon-remove-circle" ></span>
							<span style="display:none;" class="ucrId" th:text="${userConferenceRoom.id}"></span>
						</td>
						<td th:unless="${userConferenceRoom.status} == 'BOOKED' "></td>
						
						<td style="display:none;" id="ucrId" th:text="${userConferenceRoom.id}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
