<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset='utf-8' />
<title>My Wall</title>
<link th:href="@{/css/fullcalendar.min.css}" rel='stylesheet' />
<link th:href='@{/css/fullcalendar.print.min.css}' rel='stylesheet' media='print' />
<link th:href='@{/css/bootstrap.min.css}' rel='stylesheet' />

<script th:src='@{/js/moment.min.js}'></script>
<script th:src='@{/js/jquery.min.js}'></script>
<script th:src='@{/js/fullcalendar.min.js}'></script>

<script>

  $(document).ready(function() {
	  
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      //defaultDate: '2017-12-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      
      events: {
          url: '/loadEvents',
          error: function() {
            alert("Error! Please contact administrator");
          }
      },
      
      eventMouseover: function( event, jsEvent, view ) {
    	  tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#33D7FF;position:absolute;\
    	  	z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%;">' + 
    	  	'Agenda : ' + ': ' + event.title + '</br>' + 
    	  	'Start : ' + ': ' + formatDate(event.start) + '</br>' + 
    	  	'End : ' + ': ' + formatDate(event.end) + '</br>' + 
    	  	'Conference Room : ' + ': ' + event.confRoomName + '</br>' + 
    	  	'Booked by : ' + ': ' + event.user + '</div>';

          $("body").append(tooltip);
          $(this).mouseover(function (e) {
              $(this).css('z-index', 10000);
              $('.tooltiptopicevent').fadeIn('500');
              $('.tooltiptopicevent').fadeTo('10', 1.9);
          }).mousemove(function (e) {
              $('.tooltiptopicevent').css('top', e.pageY + 10);
              $('.tooltiptopicevent').css('left', e.pageX + 20);
          });
      },
      eventMouseout: function (data, event, view) {
          $(this).css('z-index', 8);

          $('.tooltiptopicevent').remove();

      },
      dayClick: function () {
          tooltip.hide()
      },
      eventResizeStart: function () {
          tooltip.hide()
      },
      eventDragStart: function () {
          tooltip.hide()
      },
      viewDisplay: function () {
          tooltip.hide()
      }
      
    });
    
    function formatDate(millis) {
    	return moment(millis).format("ddd DD-MMM-YYYY hh:mm A");
    }

  });

</script>

<style>
body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.bs-example {
	margin: 20px;
}

.margin {
	margin-right: 6px;
}
</style>
</head>
<body>
	<div class="bs-example">
		<ul class="nav nav-tabs">
			<li class="active margin">
				<button type="submit" style="background-color:#e7e7e7; color: black;" name="submit" value="value"
					class="btn btn-primary">Home</button>
			</li>
			<li class="margin">
				<form method="POST" action="/myBookings">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">My Bookings</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<form method="POST" action="/getAllBookings">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">All Bookings</button>
				</form>
			</li>
			<li class="margin">
				<form method="POST" action="/bookConference">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Book Conference Room</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<form method="POST" action="/addConference">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Add Conference Room</button>
				</form>
			</li>
			<li class="margin" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<form method="POST" action="/conferenceRoomList">
					<button type="submit" name="submit" value="value"
						class="btn btn-primary">Conference Room List</button>
				</form>
			</li>
			<li class="logout" style="float: right;"><a th:href="@{/logout}"
				class="post-request">Logout</a></li>
			<li class="logout" style="float: right;"><a href="#"
				class="post-request">Welcome, <span th:text="${user.firstName + ' ' + user.lastName}"></span></a></li>
		</ul>
	</div>
	
	<div id='calendar'></div>
</body>
</html>
